{{#each this as |images|}}
  {{#images}}
      <div class="image-url" data-id={{id}}>
        <img src='{{url}}'><<h4>ID:{{id}} -- {{caption}}</h4>
        <button type="button" name="remove" class="image-remove-btn">Remove</button>
      </div>
  {{/images}}
{{/each}}
